*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    width: 98vw;
    height: 98vh;
    border: 5px solid black;
}


.color{
    color: white;
}

#nav-item1, #nav-item2, #nav-item3, #nav-item4{
    margin-left: 60px;
    color: aliceblue;
}

#nav-item5{
    margin-left: 60px;
    color: green;
}


.escudo{
    margin-left: 15px;
    width: 60px;
    height: 60px;
}

#conf{
    font-size: 20px;
    margin-top: 5px;
    color: aliceblue;
}


